.nav-calendar-header {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: white;
    font-size: 24px;
    font-weight: 600;
    
    @media(max-width: 768px) {
        padding-left: 70px;
    }
}

.nav-calendar-title {
    margin: 0;
    text-align: center;
    font-size: 20px;
    flex: 1;
    
    @media (min-width: 768px) {
        font-size: 28px;
    }
}

.nav-calendar-button {
    padding: 0;
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.15s ease, opacity 0.15s ease;
}

.nav-calendar-button:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.nav-calendar-button:focus {
    border: none;
    outline: none;
}