.navbar {
    height: 72px;
    background: linear-gradient(90deg, #0b3a5a, #0f4f7a);
    color: white;

    display: flex;
    align-items: center;
    padding: 0 12px;
    justify-content: space-between;
    
    @media (min-width: 768px) {
        padding: 0 24px;
    }
    position: relative;
}

.navbar-logo {
    position: absolute;
    top: 6px;
    height: 64px;
    border-radius: 50%;
    
    @media (min-width: 768px) {
        height: 110px;
        top: 12px;
    }
}

.navbar-center {
    text-align: center;
    padding-left: 60px;
}

.navbar-center h1 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}

.navbar-right {
    display: flex;
    justify-content: flex-end;
}

.logout-btn {
    background: #e74c3c;
    border: none;
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

.logout-btn:hover {
    background: #c0392b;
}

.navbar-left :hover {
    cursor: pointer;
}